@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes animate-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animate-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-left-active {
  animation: animate-left 0.8s ease-out;
}

.animate-left {

}

.animate-right-active {
  animation: animate-right 0.8s ease-out;
}
.footer-text {
  font-size: 2px;
}
@media (max-width: 414px) {
  html {
    font-size: 8px; /* 기본 폰트 사이즈의 0.5배 */
  }
}

.notion-title {
  font-weight: 500;
}


.wave {
  width: 100%;
  height: 4%;
  background: white;
  overflow: hidden;
}

.wave:before {
  content: 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa';
  position: relative;
  top: -42px;
  color: white;
  font-size: 3.1rem;
  text-decoration-style: wavy;
  text-decoration-color: #a8a29e;
  text-decoration-line: underline;
  animation: animate 0.5s linear infinite;
}